<div class="card">
  <div class="card-header">
    <h1 class="text-center">Centro de Integração de Empresa e Pessoa</h1>
  </div>
  <h1 class="text-center">Selecione um cadastro</h1>
  <div class="card-body">
    <div class="row">
      <div class="card-acesso col-md-2">
        <div>
          <button id="btn_cadastro" (click)="cadastrarPessoa()" mat-raised-button color="primary" style="margin-right: 10px">Pessoa Fisica</button>
        </div>
      </div>
      <div class="card-acesso col-md-6">
        <div>
          <button id="btn_cadastro" (click)="cadastrarEmpresa()" mat-raised-button color="primary" style="margin-right: 10px">Empresa</button>
        </div>
      </div>
    </div>
  </div>
</div>
